body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 69px;
}

#searchBar {
    text-align: center;
}

input[type=text] {
    width: 50%;
    padding: 5px;
    border-radius: 50px;
    border-color: gainsboro;
}

input[type=submit] {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border-color: gainsboro;
}

input[type=text]:hover {
    background-color: gainsboro;
}

input[type=submit]:hover {
    border-color: black;
}